.footer {
    margin-top: -10px;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__title {
    color: var(--title-color);
    text-shadow: 2px 2px 0 var(--accent-color);

    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    line-height: 0.825;
}

@media (width >= 768px) {
    .footer__title {
        font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    }
}