.gallery {
    display: grid;
    gap: 10px;
    padding: 20px 0 50px 0;
}

.gallery__image {
    width: 100%;
    height: auto;
    display: block;
}

.gallery__image:first-child {
    margin-top: -10px;
}

@media (width >= 768px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1.25fr 1.65fr;
        grid-template-areas:
            "wide wide food"
            "cassette books food"
            "cassette street street";
        gap: 12px 20px;
        padding: 20px 0 66px 0;
    }

    .gallery__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .gallery__image:nth-child(1) {
        grid-area: wide;
    }

    .gallery__image:nth-child(2) {
        grid-area: food;
    }

    .gallery__image:nth-child(3) {
        grid-area: cassette;
    }

    .gallery__image:nth-child(4) {
        grid-area: books;
    }

    .gallery__image:nth-child(5) {
        grid-area: street;
    }
}